<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802922159071-mtq0fn73prff7epgtq37vrthho1l0ruf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802922159071-mtq0fn73prff7epgtq37vrthho1l0ruf</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTHcX-gK9LRG4TJfnuNLlBFVtthgt2LY</string>
	<key>GCM_SENDER_ID</key>
	<string>802922159071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bekar.Trip-Share</string>
	<key>PROJECT_ID</key>
	<string>candidate-azizur-rahman-70e10</string>
	<key>STORAGE_BUCKET</key>
	<string>candidate-azizur-rahman-70e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802922159071:ios:59ba08def6c33fd4be026a</string>
</dict>
</plist>